<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar1</title>
  <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/scl/fi/c5c62sbvxfh1bd0lc90dn/code-with-dev-bg-trns.png?rlkey=btllmnj0gugxwc5uia8y8nr89&st=y0wlaipt" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="nav" id="nav"></nav>
  <main class="main" id="main">
  </main>
</body>
</html>